<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Selamat Datang di Aplikasi Prediksi Ecoli</h1>
    <form action="/predict" method="post">
        <label for="mcg">MCG:</label><br>
        <input type="text" id="mcg" name="mcg"><br>
        <label for="gvh">GVH:</label><br>
        <input type="text" id="gvh" name="gvh"><br>
        <label for="lip">LIP:</label><br>
        <input type="text" id="lip" name="lip"><br>
        <label for="chg">CHG:</label><br>
        <input type="text" id="chg" name="chg"><br>
        <label for="aac">AAC:</label><br>
        <input type="text" id="aac" name="aac"><br>
        <label for="alm1">ALM1:</label><br>
        <input type="text" id="alm1" name="alm1"><br>
        <label for="alm2">ALM2:</label><br>
        <input type="text" id="alm2" name="alm2"><br><br>
        <input type="submit" value="Prediksi">
    </form>
</body>
</html>
